.text-left {
  text-align: left !important;
}

.width-100 {
  width: 100% !important;
}

.min-width-50 {
  min-width: 50% !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.uppercase {
  text-transform: uppercase;
}
